---
import PostList from '@/components/post/PostList.astro'
import Sidebar from '@/components/Sidebar.astro'
import Layout from '@/layouts/Layout.astro'
import PostLayout from '@/layouts/PostLayout.astro'
import { getCollection } from 'astro:content'


const tags = [
  {
    name: '最新',
    slug: '',
  },
  {
    name: '设计资源',
    slug: '设计资源',
  },
]

// 获取最新的20个post
const allPosts = (await getCollection('blog')).sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
)
const latestPosts = allPosts.slice(0, 20)

const lastPage = Math.ceil(allPosts.length / 20)

const page = {
  data: latestPosts,
  currentPage: 1,
  lastPage,
  url: {
    cuurent: `/page/1`,
    next: null,
    prev: null,
    first: null,
    last: null,
  },
}
if (lastPage > 1) {
   page.url.next = `/page/2`
   page.url.last = `/page/${lastPage}`
}

---

<Layout title="Home">
  <div class="">
    <div class="flex py-6 w-full gap-4">
      {tags.map(tag => (
<a href={`/tags/${tag.slug}`}>
        <span class={tag.slug === '' ? 'text-primary' : ''}>{tag.name}</span>
      </a>
))}
    </div>
    <PostLayout>
      <PostList page={page} />
    </PostLayout>
  </div>
</Layout>

<style>

</style>
