---

const today = new Date();
---

<footer class="mt-10 md:mt-36 max-w-screen-md container mx-auto flex justify-center items-center">
    <p class="text-sm font-medium mb-10 pt-8 flex items-center gap-2">
        <a href="https://astro.build" class="astro-sz7xmlte"><img src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width="120" height="20" class="astro-sz7xmlte"></a>
        <span>
            &copy; {today.getFullYear()} ibucoin. All rights reserved.
        </span>
      </p>
</footer>
