---
const navs = [
  {
    name: '首页',
    href: '/',
  },
  {
    name: '关于',
    href: '/about',
  },
];
---

<div
  class="sticky top-0 z-50 w-full border-border/40 bg-background/95 backdrop-blur"
>
  <div class="container flex h-14 items-center">
    <div class="mr-4 hidden md:flex">
      <a
        class="mr-4 flex items-center space-x-2 lg:mr-6"
        href="/"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 256 256"
        class="h-6 w-6"
      ><rect width="256" height="256" fill="none"></rect><line
        x1="208"
        y1="128"
        x2="128"
        y2="208"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="16"
                                                         ></line><line
                                                           x1="192"
                                                           y1="40"
                                                           x2="40"
                                                           y2="192"
                                                           fill="none"
                                                           stroke="currentColor"
                                                           stroke-linecap="round"
                                                           stroke-linejoin="round"
                                                           stroke-width="16"
                                                                 ></line></svg
        ><span class="hidden font-bold lg:inline-block">shadcn/ui</span></a
      >
      <nav class="flex items-center gap-4 text-sm lg:gap-6">
        {
            navs.map(nav => (
                <a
                  class="transition-colors hover:text-foreground/80 text-foreground/60"
                  href={nav.href}
                >{nav.name}</a>
            ))
        }

      </nav>
    </div>
  </div>
</div>
