---
import MaxPaginate from '@/components/Max/MaxPaginate.astro'
import PostItem from './PostItem.astro'

const { page } = Astro.props
const posts = page.data;
---

<div class="flex flex-col flex-1">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6 lg:gap-8 mb-6 sm:mb-8">
    {(posts ?? []).map(post => <PostItem post={post} />)}
  </div>

  <MaxPaginate class="mt-20" page={page} />
</div>
