---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="min-h-screen bg-background dark:bg-slate-900 text-foreground dark:text-slate-100 font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Header />
      <main class="flex-1 container mx-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
  <style></style>
</html>
