---
import PostList from '@/components/post/PostList.astro'
import Layout from '@/layouts/Layout.astro'
import PostLayout from '@/layouts/PostLayout.astro'
import { getCachedDatabase } from '../../lib/cached-database'

export async function getStaticPaths({ paginate }) {
    const db = getCachedDatabase();
    const allPosts = await db.getPosts()
    const result = paginate(allPosts, {
      pageSize: 20,
      // 自定义路由格式
      getPageNumbers: ({ totalPages }) =>
        Array.from({ length: totalPages }, (_, i) => i + 1),
    })
    return result
}

const { page } = Astro.props

---

<Layout>
    <div class="">
        <PostLayout>
            <PostList page={page} />
          </PostLayout>
      </div>
    </div>

  </Layout>
